<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
    This splurty was built by <a target="_blank" href="http://github.com/scottAF">Scott</a>. He has worked in many fields and has made his shift to the IT world. He is working his way on becoming a full stack developer and potentially gain a degree as an Engineer.
  </p>
  <br />
  <p>
    This is his first live webpage that he built. Utilizing the resources and training delivered to him by UC Berkeley Extension and its staff of talented developers, he was able to build this page, and many more.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Scott Ford</h2>
      <br />
      <P>
        Scott Ford is a student at UC Berkeley Extension who is enrolled in the full stack coding bootcamp. At the age of 17 he join the U.S. Navy as a Aviation structual mechanic. In January 2007 he was assigned to the <a target="_blank" href="https://www.stennis.navy.mil/">USS John C. Stennis</a> where he participated in Operation Iraqi Freedom & Endureing Freedom. After his time in the military he continued to develop himself by working towards a Bachelors degree in Engineering. He is currently working for <a target="_blank" href="http://ergaerospace.com/">ERG Aerospace</a> as a Program Manager. 
      </P>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />